h1{
  text-align: center;
}
.sofa{
  text-align: center;
}
.navigation{
  text-align: center;
}
.navigation a{
  padding-left: 10;
  padding-right: 10;
  background-color:rgb(127, 255, 249);
}
#featured-property figcaption{
  font-size: smaller;
  text-align: center;
}
#featured-property p{
  text-align: center;
  width: 800px;
  /*margin-left: 500px;*/
  /*margin-right: 480px;*/
  margin: auto;
  line-height: 2.5;
}
/*#featured-property p{
  text-align: center;
}*/

.first{
  float: left;
  text-align: center;
  background-color: red;
  width: 25%;
}

.second{
  float: left;
  text-align: center;
  background-color: red;
  width: 25%;
}

.third{
  float: left;
  text-align: center;
  background-color: red;
  width: 25%;
}

.fourth{
  float: left;
  text-align: center;
  background-color: red;
  width: 25%;
}

/*#details{
  background-color: red;
}*/

body {
  width: 100%;
  height: 100%;
  margin: 0;
}